.tag-selector.faux-input.grow
  .icon-container
    icon-tag
  .tag-partial-container.grow
    input.tag-partial(
      :tabindex="inputTabindex ? inputTabindex : ''"
      v-model='tagPartial'
      @keydown='keydownTagPartial'
    )
    .tag-suggestions(v-if="tagPartial.length > 0")
      // suggestions from partial
      .tag-suggestion(
        v-if="tagPartial.length >= 3"
        v-for="tagSuggestion in tagSuggestions"
        :key="tagSuggestion.id"
        @click="clickTagSuggestion(tagSuggestion.id)"
      ) {{ tagSuggestion.tagName }}

      // new tag
      .tag-suggestion(
        @click="clickTagNew"
        v-if="tagPartial.length > 0 && tagNewHandler"
      ) New Tag: {{ tagPartial }}
  .tag-container.no-grow
    .tag(
      v-for="selectedTag in selectedTags"
      :tag="selectedTag"
      :key="selectedTag.id"
      @click="clickTagRemove(selectedTag.id)"
    )
      icon-tag
      | {{ selectedTag.tagName }}
