tpl-shadow-box.entry-input
  // =========================================== top buttons (cancel, delete) ==
  div(
    v-if="deletable || cancelable"
    class="flex flex-row justify-end"
  )
    entry-input-delete(
      v-if="deletable"
      :entry="entry"
    )
    tpl-button(
      extraClasses="bare"
      v-if="cancelable"
      @click="clickCancel"
    )
      icon(
        name="x"
      )
  div(
    class="flex flex-row gap-4 flex-wrap justify-between"
  )
    entry-input-description(
      ref="description"
      :description="description"
      @input="description = $event"
      :inputTabindex="tabindex + 1"
    )
    selector-project(
      extraClasses="w-full lg:w-1/3 flex-grow"
      :inputTabindex="tabindex + 2"
      :project="project"
      :projectNewHandler="projectNewHandler"
      :projectAddHandler="projectAddHandler"
      :projectRemoveHandler="projectRemoveHandler"
    )
    selector-tag(
      extraClasses="w-full lg:w-1/3"
      :inputTabindex="tabindex + 3"
      :tags="tags"
      :tagNewHandler="tagNewHandler"
      :tagAddHandler="tagAddHandler"
      :tagRemoveHandler="tagRemoveHandler"
    )
    selector-user(
      v-if="allowSetUser"
      extraClasses="w-full lg:w-1/3"
      :inputTabindex="tabindex + 3"
      :isMultiItem="false"
      :users="[user]"
      :userAddHandler="userAddHandler"
      :userRemoveHandler="userRemoveHandler"
    )
    entry-input-date(
      extraClasses="w-full lg:w-40"
      :inputTabindex="tabindex + 4"
      :date="date"
      @input="date = $event"
    )
    entry-input-duration(
      ref="duration"
      extraClasses="w-32"
      :tabindex="tabindex + 5"
      :duration="duration"
      @change="duration = $event"
    )
    .flex-grow
    entry-input-save(
      :id="id"
      :date="date"
      :description="description"
      :project="project"
      :duration="duration"
      :tags="tags"
      :validate="validate"
      :isNewEntry="isNewEntry"
      :tabindex="tabindex + 6"
      :reset="reset"
      :createdAt="createdAt"
      :user="user"
      @submit="$emit('submit')"
    )
