.entry-input.theme.input-box
  .row.button-bar(
    v-if="deletable || cancelable"
  )
    entry-input-delete(
      v-if="deletable"
      :entry="entry"
    )
    button.cancel(
      v-if="cancelable"
      @click="clickCancel"
    )
      icon(
        name="x"
      )
  .row
    .container-description.grow
      .description.theme.faux-input(
        :class="descriptionValidState.value"
      )
        icon(
          name="edit-3"
        )
        input.description(
          :tabindex="tabindex + 1"
          v-model="description"
          @change="checkValidState"
        )
  .row
    .container-project-selector(
      class="w-1/2"
    )
      selector-project(
        :inputTabindex="tabindex + 2"
        :project="project"
        :projectNewHandler="projectNewHandler"
        :projectAddHandler="projectAddHandler"
        :projectRemoveHandler="projectRemoveHandler"
      )
    .container-tag-selector(
      class="w-1/2"
    )
      selector-tag(
        :inputTabindex="tabindex + 3"
        :tags="tags"
        :tagNewHandler="tagNewHandler"
        :tagAddHandler="tagAddHandler"
        :tagRemoveHandler="tagRemoveHandler"
      )
  .row
    .container-datepicker.no-grow
      .theme.faux-input
        icon(
          name="calendar"
        )
        date-picker(
          :input-attr="{ tabindex: tabindex + 4 }"
          :clearable="false"
          v-model="date"
          format="DD/MM/YY"
          value-type="date"
          type="date"
        )
          template(
            v-slot:icon-calendar
          )
            .empty
    .container-duration.no-grow
      entry-input-duration(
        :duration="duration"
        :tabindex="tabindex + 5"
        :validState="durationValidState"
        @validState="durationValidState = $event"
        @change="duration = $event"
      )
    .spacer
    .container-button.no-grow
      entry-input-save(
        :entry="entry"
        :date="date"
        :description="description"
        :project="project"
        :duration="duration"
        :tags="tags"
        :validate="validate"
        :isNewEntry="isNewEntry"
        :tabindex="tabindex + 6"
        :reset="reset"
      )
