.profile
  h1 {{ username }}
  .row
    label(for="username") Username:
    .faux-input
      .icon-container
        icon-user
      input#username.username(
        v-model="username"
      )
  .row
    label(for="email") Email:
    .faux-input
      .icon-container
        icon-at-sign
      input#email.email(
        v-model="email"
      )
  .row
    label(for="password") Password:
    .faux-input
      .icon-container
        icon-key
      input#password.password(
        type="password"
        v-model="password"
      )
  .row
    label(for="confirm-password") Confirm Password:
    .faux-input
      .icon-container
        icon-key
      input#confirm-password.confirm-password(
        type="password"
        v-model="confirmPassword"
      )
  .row
    .spacer
    button.submit(@click='clickSubmit')
      .icon-container
        icon-save
      | Update
