tpl-shadow-box.report-filters
  div(
    class="flex flex-row gap-4 flex-wrap"
  )
  report-filters-date-range(
    ref="dateRange"
    extraClasses="w-full lg:w-40"
  )
  report-filters-projects(
    ref="projects"
  )
  //- selector-project(
  //-   extraClasses="w-full lg:w-1/3 flex-grow"
  //-   :inputTabindex="2"
  //-   :project="project"
  //-   :projectNewHandler="projectNewHandler"
  //-   :projectAddHandler="projectAddHandler"
  //-   :projectRemoveHandler="projectRemoveHandler"
  //- )
  //- selector-tag(
  //-   extraClasses="w-full lg:w-1/3"
  //-   :inputTabindex="3"
  //-   :tags="tags"
  //-   :tagNewHandler="tagNewHandler"
  //-   :tagAddHandler="tagAddHandler"
  //-   :tagRemoveHandler="tagRemoveHandler"
  //- )
  //- selector-users(
  //-   v-if="allowSetUser"
  //-   extraClasses="w-full lg:w-1/3"
  //-   :inputTabindex="4"
  //-   :isMultiItem="false"
  //-   :users="[user]"
  //-   :userAddHandler="userAddHandler"
  //-   :userRemoveHandler="userRemoveHandler"
  //- )
  .row
    tpl-button-icon(
      :iconName="showExportOptions ? 'chevron-up' : 'chevron-down'"
      :after="true"
      :bare="true"
      @click="showExportOptions = !showExportOptions"
    ) Export
    .spacer
    tpl-button-icon(
      iconName="file-text"
      @click.native='clickApplyHandler'
    ) Apply
  .export-options(
    v-if="showExportOptions"
  )
    h3 Export Options
    .row
      .container-export-date-format
        .faux-input
          icon(
            name="calendar"
          )
          input.export-date-format(
            v-model='exportDateFormat'
          )
    .row
      .container-export-duration-format
        .faux-input
          icon(
            name="clock"
          )
          input.export-duration-format(
            v-model='exportDurationFormat'
          )
    .row
      .spacer
      .container-button
        a.download
        button.button.export(
          @click='exportCsv'
        )
          icon(
            name="download"
          )
          span Export
