tpl-shadow-box.report-filters
  tpl-label-bar
    template(
      v-slot:label
    ) Filters
  div(
    class="flex flex-row gap-4 flex-wrap"
  )
    report-filters-date-range(
      ref="dateRange"
      extraClasses="w-full lg:w-80"
      :dateRange="dateRange"
      @updateDateRange="dateRange = $event"
    )
    selector-projects(
      extraClasses="w-full lg:w-1/3"
      :allowNewItem="false"
      :isMultiItem="true"
      :items="projects"
      @updateItems="projects = $event"
      :inputTabindex="2"
    )
    selector-tags(
      extraClasses="w-full lg:w-1/3"
      :allowNewItem="false"
      :isMultiItem="true"
      :items="tags"
      @updateItems="tags = $event"
      :inputTabindex="3"
    )
    selector-users(
      extraClasses="w-full lg:w-1/3"
      :allowNewItem="false"
      :isMultiItem="true"
      :items="users"
      @updateItems="users = $event"
      :inputTabindex="4"
    )
    div(
      class="flex flex-row flex-grow"
    )
      .flex-grow
      tpl-button(
        :tabindex="4"
        @click="clickApplyHandler"
      )
        icon(
          name="file-text"
        )
        span Apply
  div(
    class="mt-4"
  )
    tpl-button(
      extraClasses="bare"
      @click="showExportOptions = !showExportOptions"
    )
      span Export
      icon(
        :name="showExportOptions ? 'chevron-up' : 'chevron-down'"
      )

  .export-options(
    v-if="showExportOptions"
  )
    tpl-label-bar
      template(
        v-slot:label
      ) Export Options
    div(
      class="flex flex-row gap-4 flex-wrap"
    )
      tpl-faux-input
        icon(
          name="calendar"
        )
        input.export-date-format(
          v-model='exportDateFormat'
        )
      tpl-faux-input
        icon(
          name="clock"
        )
        input.export-duration-format(
          v-model='exportDurationFormat'
        )
      div(
        class="flex flex-row flex-grow"
      )
        .flex-grow
        tpl-button(
          @click="clickExportCsvHandler"
        )
          icon(
            name="file-text"
          )
          span Export
        a.download
