tpl-shadow-box.report-filters
  tpl-label-bar
    template(
      v-slot:label
    ) Filters
  div(
    class="flex flex-row gap-4 flex-wrap"
  )
    report-filters-date-range(
      ref="dateRange"
      extraClasses="w-full lg:w-80"
    )
    selector-projects(
      extraClasses="w-full lg:w-1/3"
      :allowNewItem="false"
      :isMultiItem="true"
      :items="projects"
      @updateItems="projects = $event"
      :inputTabindex="2"
    )
    selector-tags(
      extraClasses="w-full lg:w-1/3"
      :allowNewItem="false"
      :isMultiItem="true"
      :items="tags"
      @updateItems="tags = $event"
      :inputTabindex="3"
    )
    selector-users(
      extraClasses="w-full lg:w-1/3"
      :allowNewItem="false"
      :isMultiItem="true"
      :items="users"
      @updateItems="users = $event"
      :inputTabindex="4"
    )
    div(
      class="flex flex-row flex-grow"
    )
      .flex-grow
      tpl-button(
        :tabindex="4"
        @click="clickApplyHandler"
      )
        icon(
          name="file-text"
        )
        span Apply
  .row(
    class="mt-4"
  )
    tpl-button(
      :iconName="showExportOptions ? 'chevron-up' : 'chevron-down'"
      @click="showExportOptions = !showExportOptions"
    )
      span Export
      icon(
        :name="showExportOptions ? 'chevron-up' : 'chevron-down'"
      )

  .export-options(
    v-if="showExportOptions"
  )
    h3 Export Options
    .row
      .container-export-date-format
        .faux-input
          icon(
            name="calendar"
          )
          input.export-date-format(
            v-model='exportDateFormat'
          )
    .row
      .container-export-duration-format
        .faux-input
          icon(
            name="clock"
          )
          input.export-duration-format(
            v-model='exportDurationFormat'
          )
    .row
      .spacer
      .container-button
        a.download
        button.button.export(
          @click='exportCsv'
        )
          icon(
            name="download"
          )
          span Export
