nav.nav-bar(
  class="flex flex-row self-stretch py-4 px-8 gap-4 bg-gray-800 text-blue-50"
)
  .brand(
    class="mx-4"
  )
    | Log All The Time
  .menu
    nuxt-link(
      :class=`[
        'mx-4',
        'pb-2',
        'border-b-2',
        'border-gray-800',
        $route.name === 'index' ? 'border-blue-50' : ''
      ]`
      to="/"
    ) Dashboard
    nuxt-link(
      :class=`[
        'mx-4',
        'pb-2',
        'border-b-2',
        'border-gray-800',
        $route.name === 'reports' ? 'border-blue-50' : ''
      ]`
      to="/reports"
    ) Reports
  .spacer(
    class="flex-grow"
  )
  .profile(
    v-if="name"
  )
    nuxt-link(
      :class=`[
        'mx-4',
        'pb-2',
        'border-b-2',
        'border-gray-800',
        'flex',
        'flex-row',
        'items-center',
        'gap-4',
        $route.name === 'profile' ? 'border-blue-50' : ''
      ]`
      to="/profile"
    )
      img.gravatar(
        class="rounded-full w-6 h-6"
        :src="gravatar"
      )
      .name
        | {{ name }}
  .log-in(
    v-if="!name"
  )
    nuxt-link(
      to="/login"
    ) Log In
  
      
