.entry-list-item-display(
  class="flex flex-row items-center"
)
  tpl-meta.date(
    v-if="fieldsToggle.date"
    extraClasses="w-24"
    icon="calendar"
  )
    | {{ $dayjs(entry.date).format('D MMM') }}
  tpl-meta.duration(
    v-if="fieldsToggle.duration"
    extraClasses="w-20"
    icon="clock"
  )
    .
      {{
        $dayjs.duration({
          h: Math.floor(entry.duration / 60),
          m: entry.duration % 60
        }).format('HH:mm')
      }}
  .description(
    class="cursor-pointer m-2 p-2 whitespace-nowrap overflow-hidden overflow-ellipsis"
    @click="$emit('edit')"
  ) {{ entry.description }}
  .spacer(
    class="flex-grow h-px mx-10 min-w-4 bg-gray-300"
    v-if="fieldsToggle.tags || fieldsToggle.user || fieldsToggle.project"
  )
  tpl-meta.project(
    v-if="fieldsToggle.project"
    icon="folder"
    :hashColor="entry.project.name"
  )
    | {{ entry.project.name }}
  tpl-meta.tag(
    v-if="fieldsToggle.tags"
    v-for="tag in entry.tags"
    icon="tag"
    :hashColor="tag.name"
  )
    | {{ tag.name }}
  tpl-meta.user(
    v-if="fieldsToggle.user"
    icon="user"
    :hashColor="entry.user.name"
  )
    | {{ entry.user.name }}
