tpl-profile-section.update-password
  template(
    v-slot:label
  ) Change Password
  .row(
    class="flex flex-row gap-4 mt-4"
  )
    tpl-faux-input-label(
      extraClasses="w-60"
    )
      label(
        for="current-password"
      ) Current Password :
    tpl-faux-input
      icon(
        name="key"
      )
      input(
        name="current-password"
        type="password"
        v-model="currentPassword"
        placeholder="password"
      )
  .row(
    class="flex flex-row gap-4 mt-4"
  )
    tpl-faux-input-label(
      extraClasses="w-60"
    )
      label(
        for="password"
      ) New Password :
    tpl-faux-input
      icon(
        name="key"
      )
      input(
        name="new-password"
        type="password"
        v-model="newPassword"
        placeholder="password"
      )
  .row(
    class="flex flex-row gap-4 mt-4"
  )
    tpl-faux-input-label(
      extraClasses="w-60"
    )
      label(
        for="password-confirmation"
      ) New Password Confirmation :
    tpl-faux-input
      icon(
        name="key"
      )
      input(
        name="new-password-confirmation"
        type="password"
        v-model="newPasswordConfirmation"
        placeholder="password"
      )
