tpl-faux-input(
  :extraClasses="resolveClasses()"
)
  icon(
    name="calendar"
  )
  date-picker(
    :input-attr="{ tabindex: 1 }"
    input-class="datepicker-input"
    :clearable="true"
    v-model="localDateRange"
    format="DD/MM/YY"
    value-type="timestamp"
    type="date"
    range
    @input="inputDateRange"
  )
    template(
      v-slot:icon-calendar
    )
      .empty
    template(
      v-slot:icon-clear
    )
      icon(
        name="x"
      )
