.report-filters
  label(for='date-filter') Dates:
  date-picker(
    v-model='dateRange'
    type='date'
    range
    format='DD/MM/YY'
    input-class='tl-input'
    :input-attr='{ id: "date-filter" }'
  )
  .spacer
  label(for='tags-filter') Tags:
  .input-container
    // value is not bound, component only updates to this when state changes
    // we listen to @input et cetera and micromanage the state change
    input#tags-filter.tags(
      @input='tagsInput'
      @keydown='tagsKeydown'
      v-model="tagsString"
    )
    .suggestions(v-if='suggestions.length > 0')
      .suggestion(
        v-for='suggestion in suggestions'
        :key='suggestion.id'
        @click='clickSuggestion(suggestion.id)'
      ) {{ suggestion.tagName }}
  button.submit(@click='apply') Apply
