.report-filters
  label Dates:
    date-picker(
      v-model='dateRange'
      type='date'
      range
      format='DD/MM/YY'
      input-class='tl-input'
    )
  label Tags:
    .input-container
      input.tags(@input='tagsInput' @keydown='tagsKeydown')
      .suggestions(v-if='suggestions.length > 0')
        .suggestion(
          v-for='suggestion in suggestions'
          :key='suggestion.id'
          @click='clickSuggestion(suggestion.id)'
        ) {{ suggestion.tag }}
  button.submit(@click='apply') Apply
