.report-filters.input-box
  .row
    .container-datepicker.no-grow
      .faux-input
        .icon-container
          icon-calendar
        date-picker(
          :input-attr="{ tabindex: 1 }"
          :clearable="true"
          v-model='dateRange'
          type='date'
          range
          format='DD/MM/YY'
        )
          template(
            v-slot:icon-calendar
          )
            .empty
          template(
            v-slot:icon-clear
          )
            .icon-container
              icon-x
  .row
    tag-selector(
      :tags="tags"
      :tagAddHandler="tagAddHandler"
      :tagRemoveHandler="tagRemoveHandler"
      :inputTabindex="2"
    )
  .row
    user-selector(
      :users="users"
      :userAddHandler="userAddHandler"
      :userRemoveHandler="userRemoveHandler"
    )
  .row
    .container-button.container-button-bare
      button.button.button-bare(
        @click="showExportOptions = !showExportOptions"
      )
        span Export
        .icon-container
          icon-chevron-down(
            v-if="!showExportOptions"
          )
          icon-chevron-up(
            v-if="showExportOptions"
          )
    .spacer
    .container-button
      button.button.submit(
        @click='apply'
      )
        .icon-container
          icon-file-text
        span Apply
  .export-options(
    v-if="showExportOptions"
  )
    h3 Export Options
    .row
      .container-export-date-format
        .faux-input
          .icon-container
            icon-calendar
          input.export-date-format(
            v-model='exportDateFormat'
          )
    .row
      .container-export-duration-format
        .faux-input
          .icon-container
            icon-clock
          input.export-duration-format(
            v-model='exportDurationFormat'
          )
    .row
      .spacer
      .container-button
        a.download
        button.button.export(
          @click='exportCsv'
        )
          .icon-container
            icon-download
          span Export
