.entry-list(
  class="mx-6"
)
  entry-list-fields(
    :fieldsToggleBoundaries="fieldsToggleBoundaries"
    :fieldsToggle="fieldsToggle"
  )
  .no-entries(
    class="flex flex-row justify-center items-center mt-16 color-light-60"
    v-if="!entries.length"
  )
    slot(
      name="no-entries"
    )
      | No Entries
      icon(
        extraClasses="ml-4"
        name="meh"
      )
  entry-list-item(
    v-if="!entry.deleted"
    v-for="(entry, idx) in entries"
    :allowSetUser="true"
    :key="entry.id"
    :entry="entry"
    :fieldsToggle="fieldsToggle"
    :idx="idx + 1"
  )
  .loading(
    v-if="loading"
  )
    | Loading more entries ...
    icon(
      name="loader"
    )
