tpl-faux-input.item-selector(
  :extraClasses="extraClasses"
)
  slot(
    name="icon-item"
  )
  .item-selected-group(
    class="flex flex-row"
  )
    .item-selected(
      class="flex flex-row items-center pl-3 pr-1 m-1 h-8 rounded"
      v-for="selectedItem in selectedItems"
      :style="{ backgroundColor: hexFromString(selectedItem.itemName) }"
    )
      | {{ selectedItem.itemName }}
      icon(
        class="cursor-pointer w-4 h-4"
        name="x"
        @click="itemRemoveHandler(selectedItem)"
      )
  .item-partial-container.grow
    input.item-partial(
      :tabindex="inputTabindex ? inputTabindex : ''"
      v-model='itemPartial'
      @keydown='keydownItemPartial'
      @input="inputItemPartialHandler($event.target.value)"
    )
    .item-suggestions(v-if="itemPartial.length > 0")
      // suggestions from partial
      .item-suggestion(
        class="flex flex-row items-center pl-2 pr-3 border-t-2 border-gray-600"
        v-if="itemPartial.length >= 3"
        v-for="itemSuggestion in itemSuggestions"
        :key="itemSuggestion.id"
        @click="clickItemAdd(itemSuggestion)"
        :style="{ backgroundColor: hexFromString(itemSuggestion.itemName) }"
      )
        slot(
          name="icon-item"
        )
        | {{ itemSuggestion.itemName }}

      // new item
      .item-suggestion(
        class="flex flex-row items-center pl-2 pr-3 border-t-2 border-gray-600"
        @click="clickItemNew({ id: false, itemName: itemPartial })"
        v-if="itemPartial.length > 0 && itemNewHandler"
      )
        icon(
          class="m-1"
          name="loader"
        )
        | New: {{ itemPartial }}
