tpl-faux-input.item-selector(
  :extraClasses="extraClasses"
)
  slot(
    name="icon-item"
  )
  .item-selected-group(
    class="flex flex-row"
  )
  tpl-meta.item-selected(
    v-for="selectedItem in _items"
    :hashColor="selectedItem.name"
    :extraClasses="{m: 'm-1', p: 'p-1 pl-2', h: 'h-8' }"
  )
    | {{ selectedItem.name }}
    icon(
      class="cursor-pointer w-4 h-4 inline mr-1"
      name="x"
      @click="clickItemRemove(selectedItem)"
    )
  .item-partial-container.grow
    input.item-partial(
      :tabindex="inputTabindex ? inputTabindex : ''"
      v-model='itemPartial'
      @keydown='keydownItemPartial'
      @input="inputItemPartial($event.target.value)"
    )
    .item-suggestions(v-if="itemPartial.length > 0")
      // suggestions from partial
      .item-suggestion(
        class="flex flex-row items-center pl-2 pr-3 border-t-2 border-gray-600"
        v-if="itemPartial.length >= 3"
        v-for="itemSuggestion in itemSuggestions"
        :key="itemSuggestion.id"
        @click="clickItemAdd(itemSuggestion)"
        :style="{ backgroundColor: hexFromString(itemSuggestion.name) }"
      )
        slot(
          name="icon-item"
        )
        | {{ itemSuggestion.name }}

      // new item
      .item-suggestion(
        class="flex flex-row items-center pl-2 pr-3 border-t-2 border-gray-600"
        @click="clickItemAdd({ id: 0, name: itemPartial })"
        v-if="itemPartial.length > 0 && allowNewItem"
      )
        icon(
          class="m-1"
          name="loader"
        )
        | New: {{ itemPartial }}
