div(
  class="flex flex-col justify-center items-center"
)
  tpl-shadow-box
    h1 Log In
    .row(
      class="flex flex-row gap-4 mt-8"
    )
      tpl-faux-input-label
        label(
          for="email"
        ) Email :
      tpl-faux-input(
        :extraClasses="emailValidState.value"
      )
        icon(
          name="at-sign"
        )
        input(
          name="email"
          v-model="email"
          placeholder="mcboatface@gmail.com"
        )
    tpl-alert.mt-4(
      v-if="hasError('AuthBadEmailError')"
    )
      | This email address is not registered.
    .row(
      class="flex flex-row gap-4 mt-4"
    )
      tpl-faux-input-label
        label(
          for="password"
        ) Password :
      tpl-faux-input(
        :extraClasses="passwordValidState.value"
      )
        icon(
          name="key"
        )
        input(
          name="password"
          type="password"
          v-model="password"
          placeholder="password"
          v-on:keyup.enter="logIn"
        )
    tpl-alert.mt-4(
      v-if="hasError('AuthBadPasswordError')"
    )
      | That's not the right password.
    .row(
      class="flex flex-row gap-4 mt-4"
    )
      tpl-button.bare
        nuxt-link(
          to="/register"
        )
          icon(
            name="user-plus"
          )
          span Register
      .spacer(
        class="flex-grow"
      )
      tpl-button(
        @click.native="logIn"
      )
        icon(
          name="log-in"
        )
        span Log In
