.register.row.justify-center
  .box
    h1 Register
    .row.justify-between
      label(for="username") Username:
      .faux-input
        .icon-container
          icon-user
        input#username.username(
          v-model="username"
        )
    .row.justify-between
      label(for="email") Email:
      .faux-input
        .icon-container
          icon-at-sign
        input#email.email(
          v-model="email"
        )
    .row.justify-between
      label(for="password") Password:
      .faux-input
        .icon-container
          icon-key
        input#password.password(
          v-model="password"
          type="password"
        )
    .row.justify-between
      label(for="confirm-password") Confirm Password:
      .faux-input
        .icon-container
          icon-key
        input#confirm-password.confirm-password(
          v-model="confirmPassword"
          type="password"
        )
    .row.justify-center.alert-container
      .alert.error(
        v-if="error"
      )
        | {{ error.message }}
    .row
      button.button.button-bare
        .icon-container
          icon-log-in
        router-link(
          :to="{ name: 'login' }"
        ) Log In
      .spacer
      button.button.submit(
        @click='clickSubmit'
      )
        .icon-container
          icon-loader
        | Register
