.entry-input.input-box
  .row.button-bar(
    v-if="deletable || cancelable"
  )
    button.delete(
      v-if="deletable"
      @click="clickDelete"
    )
      .icon-container
        icon-trash-2
    button.cancel(
      v-if="cancelable"
      @click="clickCancel"
    )
      .icon-container
        icon-x
  .row
    .container-description.grow
      .faux-input
        .icon-container
          icon-edit-3
        input.description(
          :tabindex="tabindex + 1"
          v-model="description"
        )
  .row
    .container-tag-selector.grow
      tag-selector(
        :inputTabindex="tabindex + 2"
        :tags="tags"
        :tagNewHandler="tagNewHandler"
        :tagAddHandler="tagAddHandler"
        :tagRemoveHandler="tagRemoveHandler"
      )
  .row
    .container-datepicker.no-grow
      .faux-input
        .icon-container
          icon-calendar
        date-picker(
          :input-attr="{ tabindex: tabindex + 3 }"
          :clearable="false"
          v-model="date"
          format="DD/MM/YY"
          type="date"
        )
          template(
            v-slot:icon-calendar
          )
            .empty
    .container-duration.no-grow
      .faux-input
        .icon-container
          icon-clock
        input.duration(
          :tabindex="tabindex + 4"
          v-model="duration"
          @blur="blurDuration"
        )
    .spacer
    .container-button.no-grow
      button.button.submit(
        :tabindex="tabindex + 5"
        @click="clickSubmit"
        @blur="blurSave"
      )
        .icon-container
          icon-send
        span Save
