.entry-input.input-box
  .row.button-bar(
    v-if="deletable || cancelable"
  )
    delete(
      v-if="deletable"
      :entry="entry"
    )
    button.cancel(
      v-if="cancelable"
      @click="clickCancel"
    )
      .icon-container
        icon-x
  .row
    .container-description.grow
      .description.faux-input(
        :class="descriptionValidState.value"
      )
        .icon-container
          icon-edit-3
        input.description(
          :tabindex="tabindex + 1"
          v-model="description"
          @change="checkValidState"
        )
  .row
    .container-tag-selector.grow
      tag-selector(
        :inputTabindex="tabindex + 2"
        :tags="tags"
        :tagNewHandler="tagNewHandler"
        :tagAddHandler="tagAddHandler"
        :tagRemoveHandler="tagRemoveHandler"
      )
  .row
    .container-datepicker.no-grow
      .faux-input
        .icon-container
          icon-calendar
        date-picker(
          :input-attr="{ tabindex: tabindex + 3 }"
          :clearable="false"
          v-model="date"
          format="DD/MM/YY"
          type="date"
        )
          template(
            v-slot:icon-calendar
          )
            .empty
    .container-duration.no-grow
      duration(
        :duration="duration"
        :tabindex="tabindex + 4"
        :validState="durationValidState"
        @validState="durationValidState = $event"
        @change="duration = $event"
      )
    .spacer
    .container-button.no-grow
      button.button.submit(
        :tabindex="tabindex + 5"
        @click="clickSubmit"
        @blur="blurSave"
      )
        .icon-container
          icon-send
        span Save
