.entry-input
  .row
    date-picker(
      :input-attr="{ tabindex: 1 }"
      v-model="date"
      format="DD/MM/YY"
      type="date"
    )
    .spacer
    button.delete(
      v-if="deletable"
      @click="clickDelete"
    )
      icon-trash-2
    button.cancel(
      v-if="cancelable"
      @click="clickCancel"
    )
      icon-x
  .row
    input.duration(
    tabindex="2"
      v-model="duration"
      @blur="blurDuration"
    )
    input.description(
      tabindex="3"
      v-model="description"
    )
    button.submit(
      tabindex="5"
      @click="clickSubmit"
    )
      icon-send
      | Save
  .row
    TagSelector(
      :inputTabindex="4"
      :selectedTags="tags"
      :tagNewHandler="tagNewHandler"
      :tagAddHandler="tagAddHandler"
      :tagRemoveHandler="tagRemoveHandler"
    )
