.entry-input.input-box
  .row(
    v-if="deletable || cancelable"
  )
    .container-delete
      button.delete(
        v-if="deletable"
        @click="clickDelete"
      )
        icon-trash-2
    .container-cancel
      button.cancel(
        v-if="cancelable"
        @click="clickCancel"
      )
        icon-x
  .row
    .container-description.grow
      .faux-input
        .icon-container
          icon-edit-3
        input.description(
          tabindex="1"
          v-model="description"
        )
  .row
    .container-tag-selector.grow
      tag-selector(
        :inputTabindex="2"
        :selectedTags="tags"
        :tagNewHandler="tagNewHandler"
        :tagAddHandler="tagAddHandler"
        :tagRemoveHandler="tagRemoveHandler"
      )
  .row
    .container-datepicker.no-grow
      .faux-input
        .icon-container
          icon-calendar
        date-picker(
          :input-attr="{ tabindex: 3 }"
          :clearable="false"
          v-model="date"
          format="DD/MM/YY"
          type="date"
        )
          template(
            v-slot:icon-calendar
          )
            .empty
    .container-duration.no-grow
      .faux-input
        .icon-container
          icon-clock
        input.duration(
          tabindex="4"
          v-model="duration"
          @blur="blurDuration"
        )
    .spacer
    .container-submit.no-grow
      button.submit(
        tabindex="5"
        @click="clickSubmit"
      )
        .icon-container
          icon-send
        span Save
