.entry-input
  .row
    date-picker(
      v-model="date"
      format="DD/MM/YY"
      type="date"
    )
    button.cancel(
      v-if="cancelable"
      @click="clickCancel"
    ) Cancel
  .row
    input.duration(
      v-model="duration"
      @blur="blurDuration"
    )
    input.description(v-model="description")
    button.submit(@click="clickSubmit") Send
  .row
    TagSelector(
      :selectedTags="tags"
      :tagNewHandler="tagNewHandler"
      :tagAddHandler="tagAddHandler"
      :tagRemoveHandler="tagRemoveHandler"
    )
